<!DOCTYPE html>
<html>

<head>
	<%= favicon_link_tag 'favicon.png' %>
	<title>Google</title> 
</head>

<body>
	<div class="container">
		<div class="header">
			<ul class="header-list">
				<li><a class="toplink" href="https://mail.google.com">Gmail</a></li>
				<li><a class="toplink" href="https://www.google.fr/imghp?hl=fr&tab=wi">Images</a></li>
				<li id="cadrillage"> <%= image_tag('Cadrillage.png') %> </li>
				<li><a class="toplink" href="https://accounts.google.com/signin/v2/sl/pwd?hl=fr&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><%= image_tag('connexion.png') %></a></li>
			</ul>
		</div>

		<script type="text/javascript">
			document.getElementById("cadrillage").onclick = function () {
				let menu = document.getElementById("appmenu");
				console.log(menu);
				if (menu.style.display == "none") {
					menu.style.display = "block";
					console.log(1)
				} else {
					console.log(2)
					menu.style.display = "none";
				}
			};

		</script>

		<div id="appmenu">
			<ul id="applist">
				<li class="appicon"> <%= image_tag('moncompte.png') %> </li>
				<li class="appicon"> <%= image_tag('recherche.png') %> </li>
				<li class="appicon"> <%= image_tag('maps.png') %> </li>
				<li class="appicon"> <%= image_tag('youtube.png') %> </li>
				<li class="appicon"> <%= image_tag('play.png') %> </li>
				<li class="appicon"> <%= image_tag('actualites.png') %> </li>
				<li class="appicon"> <%= image_tag('gmail.png') %> </li>
				<li class="appicon"> <%= image_tag('contacts.png') %> </li>
				<li class="appicon"> <%= image_tag('drive.png') %> </li>
				<li class="appicon"> <%= image_tag('agenda.png') %> </li>
				<li class="appicon"> <%= image_tag('googleplus.png') %> </li>
				<li class="appicon"> <%= image_tag('traduction.png') %> </li>
				<li class="appicon"> <%= image_tag('photos.png') %> </li>
			</ul>
		</div>

		<div class="center">
			<%= image_tag("logocentral.png", id: "logocentral", alt: "Logo google") %>
			  <input id="search" type="text" name="search">
			  <div class="button">
			  	<button id="searchbutton">Recherche Google </button> </a>
			  		<script type="text/javascript">
			  			document.getElementById("searchbutton").onclick = function() 
							{
								let search = document.getElementById("search").value;
								window.location = "https://www.google.fr/search?q=" + search;
							}
			  		</script>
			  	<button id="luckybutton">J'ai de la chance</button>
			  		<script type="text/javascript">
			  			document.getElementById("luckybutton").onclick = function() 
							{
								let search = document.getElementById("search").value;
								window.location = "http://www.google.fr/search?" + search + "&btnI=I'm Feeling Lucky";
							}
			  		</script>
			  </div>
		</div>
		<div class="footer">
			<div class="footer-top">
				<ul>
					<li>France</li>
				</ul>
			</div>
			<div class="footer-bot">
				<div class="footer-bot-left">
					<ul class="footer-bot-left-list">
						<li><a class="botlink" href="https://www.google.com/intl/fr_fr/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Publicite</a></li>
						<li><a class="botlink" href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1#?modal_active=none">Entreprise</a></li>
						<li><a class="botlink" href="https://www.google.com/intl/fr_fr/about/?utm_source=google.com&utm_medium=referral&utm_campaign=hp-footer&fg=1">A propos</a></li>
					</ul>
				</div>
				<div class="footer-bot-right">
					<ul class="footer-bot-right-list">
						<li><a class="botlink" href="https://support.google.com/websearch/answer/7585859?p=fr_consumer_info&hl=fr&fg=1&visit_id=0-636625840015478275-578790344&rd=1">Info consommateurs</a></li>
						<li><a class="botlink" href="https://policies.google.com/privacy?hl=fr&gl=fr">Confidentialite</a></li>
						<li><a class="botlink" href="https://policies.google.com/terms?hl=fr&gl=fr">Conditions</a></li>
						<li><a class="botlink" href="https://www.google.com/preferences?hl=fr">Parametres</a></li>
					</ul>
				</div>
			</div>
		
		</div>
	</div>
</body>

</html>